<a href="/Employee/AddNew">Add New</a>
&nbsp;
&nbsp;

<!-- <a href="/BulkUpload/Index">BulkUpload</a> -->
<!-- Changes in Route Config it is defined as Employee/BulkUpload Controlller is replaced by BulkUpload and action is index-->


<a href="/Employee/BulkUpload">BulkUpload</a>